@charset "utf-8";
/* CSS Document */
body {font-family: Arial, Verdana, Helvetica, sans-serif, "宋体";margin:0px auto;font-size:12px;color: #333;background:#ffffff; padding-top:5px;}
.main { height: 1485px; width: 960px; margin-right: auto; margin-bottom: 10px; margin-left: auto; }
.foot {  height: 210px; width: 960px; margin-right: auto; margin-left: auto; }
.top .top-one { height: 93px; background: url(../images/edu_bg.jpg) no-repeat 0px 0px; }
.top .top-three { height: 25px; background: url(../images/edu_bg.jpg) no-repeat 0px -104px; }
.main .zuo { float: left; width: 720px; height: 1485px; }
.main .you { height: 1485px; width: 230px; float: right; }
.main .you .you-one { height: 170px; width: 230px; margin-bottom: 10px; border: 1px solid #a3b4ce; background: #e6edf5; }
.main .you .you-three { height: 195px; margin-bottom: 10px; border: 1px solid #a3b4ce; }
.main .you .you-four { height: 195px; margin-bottom: 10px; }
.undis{display: none}

.main .you .you-two { height: 680px; margin-bottom: 10px; border: 1px solid #a3b4ce; }




.top .top-two { height: 32px; width: 960px; background: url(../images/nav.jpg) no-repeat 0px 0px; }
.top { height: 150px; width: 960px; margin-bottom: 10px; margin-right: auto; margin-left: auto; }

form, img, p{margin: 0px auto;border:0px;}
ul, li,ol,dl,dt,dd{margin:0px auto;padding:0px;list-style:none;}
a:link, a:visited {color: #192E68;text-decoration: none;font-weight: normal;}
a:hover {color: #FF0000;text-decoration: underline;font-weight: normal;}
h1,h2,h3,h4,h5,h6{margin:0 auto; padding:0;}
.main .zuo .zuo-one { height: 170px; margin-bottom: 10px; }
.main .zuo .zuo-two { height: 170px; margin-bottom: 10px; }
.main .zuo .zuo-four {  height: 195px; margin-bottom: 10px; }
.main .zuo .pic { height: 90px; margin-bottom: 10px; overflow: hidden; }
.main .zuo .zuo-three { height: 195px; margin-bottom: 10px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-top-style: none; }
.main .zuo .zuo-five { height: 195px; margin-bottom: 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-top-style: none; }
.main .zuo .zuo-six {  height: 195px; margin-bottom: 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-top-style: none; }
.main .zuo .zuo-seven { height: 195px; margin-bottom: 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; border-top-style: none; }
.top .top-one .data { color:#ffffff; display:block; height: 24px; width: 180px; padding-top: 4px; padding-bottom: 2px; padding-left: 10px; margin-right: 10px; margin-left: 10px; }
.top .top-one h2 a { color: #ffff00; }
.top .top-one h2 a:hover { text-decoration: underline; font-weight:bold;}
.top .top-one h2 {font-family:"宋体"; font-size:14px; color:#FFFF00; padding:18px 0 0 710px; font-weight:bold;}
.top .top-one h2 a:link{ color: #ffff00;font-weight:bold; }
.top .top-two ul li { line-height: 32px; float: left; height: 32px; width: 100px;  margin-left: 2px; }
.top .top-two ul li a { font-size: 13px; color: #fcdea8; text-decoration: none; display: block; text-align: center; font-weight: bold; }
.top .top-two ul { margin-left: 15px; }
.top .top-three h1 { font-size: 12px; font-weight: normal; color: #fef8d4; padding-top: 6px; padding-left: 36px; }
.top .top-three h1 a { font-size: 12px; color: #fef8d4; margin-right:4px; margin-left: 4px; }

#more { border: 1px solid #D6D7D6; cursor: pointer; font-size: 12px; height: 86px; position: absolute; right: 0; top:150px; width:380px; z-index:101; padding:5px 0 0 10px; background: #f8f8f8; }
#more li {background:#FFFFFF;float: left;margin: 1px;padding: 1px 0;width: 40px;}
.foot .one { background: #edf0f5 url(../images/foot_bg1.jpg) repeat-x; height: 100px; border: 2px solid #c6cfde; margin-bottom: 10px; }
.foot .four p { text-align: center; margin-bottom: 10px; }

.foot .two { background: url(../images/foot_bg.jpg) repeat-x; height: 30px; margin-bottom: 10px; border: 1px solid #cccccc; }
.foot .three { border: 1px solid #cccccc; margin-bottom: 10px; }
.foot .four p a { color: #333; text-decoration: none; }
.foot .four p a span { color: #192e68; }
.foot .four p a:hover span { color: #F00; text-decoration: underline; }
.foot .four p a:hover { color: #F00; text-decoration: underline; }
.foot .two #form1 h1 {  float:left; width:65px; font-family:"宋体"; font-size:12px; padding:2px 0 0 0; }
.foot .two span { padding:8px 0 0 20px; font-weight:normal; float:left; height: 25px; }


.foot .two #form1 {  width: 300px; float: left; margin-left: 20px; margin-top: 5px; }
.foot .two #form1 #textfield { color: #666666; }

.foot .two #form1 #bottuon { font-size: 12px; background: #dfe2e9; height: 20px; width: 42px; border: 1px solid #92a8c0; color: #5b6475; margin-left: 2px; }
.foot .two span a { color: #000; margin-left: 2px; }
.foot .two span a:hover { color: #F00; text-decoration: underline; }
.foot .one .footone-zuo { float: left; width: 725px; height:100px; overflow: hidden;border-right: 2px solid #FFF; }
.foot .one .footone-zuo p { height: 45px; padding-top: 10px; padding-left: 15px; margin-bottom: 10px; }
.foot .one .footone-zuo p a { color: #000; margin-left: 2px; line-height: 22px; }
.select1 { width:130px; height:18px; margin-top:3px;margin-right:10px; padding:0px 0 0px 2px; color:#666; float:left;}
.foot .one .footone-zuo form { padding-left: 15px; }


.foot .one .footone-zuo p a:hover { color: #F00; text-decoration: underline; }
.foot .one .footone-you {  width: 210px; float: right; height: 90px; padding-top: 10px; padding-left: 10px; }
.foot .one .footone-you p { margin-bottom: 6px; margin-left: 6px; }
.main .you .you-three h1 { background:url(../images/edu_bg.jpg) no-repeat -732px -140px; padding:10px 0 0 20px; height:17px; font-family: "宋体"; font-size:12px; color: #192E68; }
.liebiao {width:220px; height:auto; margin:0 auto; padding:0; }
.liebiao ul {line-height:22px; margin:7px 0 7px ; }
.liebiao ul li a { list-style: disc; }
.liebiao ul li a { color: #000; text-decoration: none; }
.liebiao ul li a:hover { color: #F00; text-decoration: underline; }
.main .you .you-four h1 { background:url(../images/edu_bg.jpg) no-repeat -732px -140px; padding:10px 0 0 20px; height:17px; font-family: "宋体"; font-size:12px; color: #192E68;  }
.main .you .you-four { height: 195px; margin-bottom: 10px; border: 1px solid #a3b4ce;  }
.main .you .you-five { height: 195px; margin-bottom: 10px; border: 1px solid #a3b4ce;  }
.main .you .you-five h1 { background:url(../images/edu_bg.jpg) no-repeat -732px -140px; padding:10px 0 0 20px; height:17px; font-family: "宋体"; font-size:12px; color: #192E68;  }
.xx { margin: 10px; border-top: 1px dashed #000; }
.tag_03_title{margin:0px; width:228px;height:24px;background: url(http://img.eol.cn//images/index/edu2011/edu_bg.jpg) no-repeat -732px -217px;font-weight: normal;overflow:hidden; font-size:12px; padding:0px 0 0 0px;}
.tag_03_title a:link,.tag_03_title a:visited{ display:block; width:114px; height:18px; padding:6px 0 0 0px; float:left; cursor:pointer; text-align:center; text-decoration: none; color:#192E68; font-size:12px; background: url(../images/edu_bg.jpg) no-repeat -847px -217px; font-weight: normal; }
.tag_03_title a.current:link,.tag_03_title a.current:visited{ font-weight:bold; color:#192E68; background: url(../images/edu_bg.jpg) no-repeat -731px -217px; }
.you-qh { padding-top: 10px; }
.you-qh ul { margin-left: 10px; }
.main .you .you-two #tag_03_con ul li a:hover { color: #F00; text-decoration: underline; }

.you-qh ul li { margin-bottom: 6px; }
.main .you .you-two #tag_03_con ul li a { color: #000; }
.you-one .img { float: left; height: 29px; width: 93px; }
.tag_01_title a { font-size: 12px; font-weight: normal; color: #192e68; text-decoration: none; text-align: center; float: left; height: 20px; width: 65px; margin-right: 1px; cursor: pointer; background: url(../images/edu_bg.jpg) no-repeat -895px -178px; padding-top: 8px; }
.tag_01_title a.current { font-weight: bold; text-decoration: none; background: url(../images/edu_bg.jpg) no-repeat -829px -178px; }
.right1{ margin:0; height:64px; padding:0; clear:both; overflow:hidden; }
.right1 h2{ float:left; width:25px; font-family:"宋体"; padding:8px 0 0 0; font-size:12px; font-weight:normal;}
.right1 li{ width:190px; float:left; margin-bottom:5px; margin-left: 8px; }


.tag_01_title{ margin:0px; width:131px; height:29px; background: url(../images/edu_bg.jpg) no-repeat -828px -178px; font-weight: normal; overflow:hidden; font-size:12px; padding:0px 0 0 1px; float: right; }
.select-you-one{ width:58px; height:19px;margin-left:2px; margin-top:3px; margin-right:10px;padding:0px 0 0px 2px; color:#666; border:1px solid #ccc; float:left; display:inline;}
.img_a{ float:right;position:relative; z-index:100px; top:-22px; left:-10px;_top:-51px; _left:20px;*top:-48px!important; *left:20px!important; overflow:hidden;}
.text-you-one { color: #666; display: inline; padding: 0px 0px 0px 2px; float: left; height: 19px; width: 148px; margin-top: 1px; margin-right: 10px; margin-left: 2px; border: 1px solid #CCC; }
.img-you-one { float: right; overflow: hidden; position: relative; z-index: 100; left: -10px; top: -22px; }
.empty { height: 10px; }
.you-one .jyzy { background: url(../images/img_ziyuan1.jpg) repeat-x 0px 0px; height: 22px; }
.jyzy a img { float: left; height: 22px; width: 75px; margin-right: 15px; }
.jyzy a { color: #000; }
.select-you-two { color: #666; margin: 0px 6px 1px 10px; padding: 0px 0px 0px 2px; float: left; height: 19px; width: 80px; border: 1px solid #CCC;  }
.text-you-two { padding: 0px 0px 0px 2px; float: left; height: 18px; width: 80px; margin-top: 0px; margin-right: 5px; margin-bottom: 1px; border: thin solid #CCC; }
.img-you-two { float: left; margin-top: 0px;}
.kong { height: 5px; }
.jyzy a:hover { color: #F00; }
.text-foot-one { width:150px; height:17px;margin-right:5px; padding:0px 0 0px 2px; color:#666; float:left; }
.foot .two form #bottuon { cursor: pointer; }
.zuo-one .left { background: #FFF; float: left; height: 170px; width: 270px; border: 1px solid #a3b4ce; margin-right: 10px; }
.zuo-one .right { height: 170px; width: 440px; border: 1px solid #a3b4ce; background: #FFF; margin-left: 280px; padding: 0px; }
.zuo-one .left .jybzq { background: url(../images/edu_bg.jpg) no-repeat left -185px; height: 24x; width: 270px; }
.zuo-one .left .jybzq p span { float: right; font-size: 12px; font-weight: normal; color: #192e68; display: inline; padding-top: 2px; padding-right: 15px; }
.zuo-one .left .jybzq p a { font-size: 14px; color: #FFF; font-weight: bold; }
.zuo-one .left .jybzq p a:hover { text-decoration: underline; }
.zuo-one .left .jybzq p span a { font-size: 12px; color: #192e68; font-weight: normal; margin-left: 2px; }
.zuo-one .left .jybzq p span a:hover { color: #F00; text-decoration: underline; }
.zuo-one .left .jybzq p { height: 24px; padding-top: 5px; padding-left: 14px; }
.zuo-one .left .zqliebiao { padding-top: 6px; padding-left: 10px; }
.zuo-one .left .zqliebiao ul li { margin: 0px 0px 6px; }
.zuo-one .right .pic { width:150px; height:163px; filter:progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 ); margin:5px 3px 0px 3px; float:left; display:inline; background: #FFF; }
.right .toutiao { display: inline; margin: 0px; padding: 0px; float: right; height: auto; width: 282px; }
.zuo-one .right .toutiao h1 { font-family:"黑体"; font-size:20px; font-weight:normal; text-align:center; padding:15px 0 0 0; margin-bottom:5px;}
.zuo-one .right .toutiao ul { line-height: 22px; margin: 5px 10px 0px; }
.zuo-one .right .toutiao ul li { list-style: square; margin-left: 5px; }
.zuo-one .right .toutiao h1 a { color: #970401; }
.tag_02_title a { font-size: 14px; color: #192e68; text-align: center; display: block; padding: 5px 0px 0px; float: left; height: 19px; width: 90px; cursor: pointer; background: url(../images/wlyjbg2.jpg) no-repeat 0px 0px; text-decoration: none; }
.tag_02_title a:hover { font-weight: bold; color: #FFF; background: url(../images/wlyjbg.jpg) no-repeat 0px 0px; }
.tag_02_title a.current { background: url(../images/wlyjbg.jpg) no-repeat 0px 0px; font-weight: bold; color: #FFF; }
.wlyj ul { line-height: 22px; margin: 5px; }
.wlyj ul li { list-style: square; margin-left: 20px; }





.zuo-two .left { background: #FFF; float: left; height: 170px; width: 270px; border: 1px solid #a3b4ce; margin-right: 10px; }
.zuo-two .right { height: 170px; width: 440px; border: 1px solid #a3b4ce; background: #FFF; margin-left: 280px; padding: 0px; }
.tag_02_title{ margin:0px; width:270px; height:25px; background: url(../images/edu_bg.jpg) no-repeat -299px -185px; font-weight: normal; overflow:hidden; font-size:14px; padding:0px 0 0 0px; }
.zuo-two .right h2 { color: #192e68; background: #ebf0f6; height: 20px; padding-top: 5px; padding-left: 20px; font-size: 14px; font-weight: bold; }
.zuo-two .right h2 span { display: inline; float: right; padding-right: 20px; }
.zuo-two .right h2 span marquee a { font-size: 12px; }
.zuo-two .right ul { line-height: 22px; margin-top: 7px; margin-left: 20px; }
.zuo-three .zgjy { background: url(../images/edu_bg.jpg) no-repeat 0px -140px; height: 36px; width: 720px; padding-top: 6px; padding-left: 20px; }
.zuo-three .zgjy h1 a { color: #192e68; cursor: pointer; font-size: 20px; font-weight: bold; text-decoration: none; font-family:"宋体";}
.zuo-three .left { margin: 0px; padding: 0px; float: left; width: 357px; border-right: 1px dashed #dddddd; height: 150px; }
.zuo-three .left .jygz h1 { background: url(../images/edu_bg.jpg) no-repeat 7px -262px; height: 20px;height:20px; padding:5px 0 0 16px; width:325px; font-family:"宋体"; font-size:14px; color:#FFFFFF; float:left; }
.zuo-three .left .jygz h1 span { display: inline; float: right; }
.zuo-three .left .jygz { height: 25px; margin-bottom: 10px; }
.zuo-three .left .pic { height: 80px; margin-bottom: 10px; }
.zuo-three .left .pic a img { float: left; margin-left: 7px; margin-right: 10px; }

.zuo-three .left .pic p { line-height: 20px; color: #192e68; }
.zuo-three .left .pic p span a { font-weight: bold; }
.zuo-three .left .gz { margin-left: 7px; }
.zuo-three .left .gz p a { text-decoration: underline; }
.zuo-three .left .gz p a:hover { color: #F00; text-decoration: none; }
.zuo-three .right { margin: 0px; padding: 0px; float: right; height: 150px; width: 350px;}
.tag_04_title{ width:180px; height:25px; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; overflow:hidden; font-size:14px; padding:0px 0 0 0px; margin-left:7px; display:inline; }

.tag_04_title a { font-weight: normal; color: #192e68; text-decoration: none; background: url(../images/edu_bg.jpg) no-repeat -677px -185px; text-align: center; display: block; float: left; height: 25px; width: 83px; margin-right: 2px; cursor: pointer; padding-top: 6px; }
.tag_04_title a.current { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; }
.tag_04_title a:hover { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; }
#tag_04_con ul { line-height: 22px; margin-left: 20px; }
#tag_04_con ul li { list-style: square; }
.zuo-three .right .jyyj { width:170px; height:18px; text-align:right; border-bottom:1px solid #A6B6CD; margin:0; padding:6px 10px 0 0; font-family:"宋体"; float: left; }
.empty35 { height: 36px; }
.zuo-three .left .jygz h1 span { font-size: 12px; }
.zuo-four .left { float: left; width: 355px; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; border-top-style: none; height: 195px; }
.zuo-four .right { float: right; width: 355px; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; border-top-style: none; height: 195px; }
.zuo-four .left .kyfz h1 a { font-family: "宋体"; font-size: 20px; font-weight: bold; color: #192E68; text-decoration: none;  cursor: pointer; }
.zuo-four .left .kyfz { background: url(../images/edu_bg.jpg) no-repeat -360px -140px; height: 35px; margin-bottom: 10px; }
.zuo-four .left .kyfz h1 { padding-top: 5px; padding-left: 16px; }
.tag_05_title a { font-size: 14px; font-weight: normal; color: #192e68; text-decoration: none; background: url(../images/edu_bg.jpg) no-repeat -85px -220px; text-align: center; display: block; float: left; height: 25px; width: 83px; margin-right: 2px; cursor: pointer; padding-top: 6px; }
.tag_05_title a.current { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat left -220px; }
#tag_05_con ul { line-height: 22px; }
#tag_05_con ul li { margin-left: 30px; list-style: square; }


.tag_05_title a:hover { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat left -220px; }
.zuo-four .right .jyxxh h1 span a { font-size: 12px; color: #ac2222; text-decoration: none; }
.zuo-four .right .jyxxh h1 span { float: right; margin-top: 10px; margin-right: 10px; }


.tag_05_title{ width:340px; height:25px; font-size:14px; padding:0px; margin-left:7px; margin-bottom: 5px; }
.zuo-four .right .jyxxh h1 a { font-family: "宋体"; font-size: 20px; font-weight: bold; color: #192E68; text-decoration: none;  cursor: pointer; }
.zuo-four .right .jyxxh { background: url(../images/edu_bg.jpg) no-repeat -360px -140px; height: 35px; margin-bottom: 10px; }
.zuo-four .right .jyxxh h1 { padding-top: 5px; padding-left: 16px; }
#tag_06_con ul { line-height: 22px; }
#tag_06_con ul li { margin-left: 30px; list-style: square; }
.zuo-five .shang h1 a { font-family: "宋体"; font-size: 20px; font-weight: bold; color: #192E68; text-decoration: none;  cursor: pointer; }
.zuo-five .shang { background: url(../images/edu_bg.jpg) no-repeat left -140px; height: 35px; margin-bottom: 10px; }
.zuo-five .shang h1 { padding-top: 5px; padding-left: 16px; }
.zuo-five .xia .left { float: left; height: 150px; width: 357px; border-right: 1px dashed #656565; }
.zuo-five .xia .right { float: right; height: 150px; width: 350px; }
#tag_11_con ul { line-height: 22px; }
#tag_11_con ul li { margin-left: 30px; list-style: square; }
#tag_11_con ul { color: #192e68; }
.zuo-five .xia { height: 150px; margin-top: 10px; }
.zuo-five .xia .right .rcjh { width:170px; height:18px; text-align:right; border-bottom:1px solid #A6B6CD; margin:0; padding:6px 10px 0 0; font-family:"宋体"; float: left; }
#tag_07_con ul { line-height: 22px; }
#tag_07_con ul li { margin-left: 30px; list-style: square; }
.empty30 { height: 32px; }
.zuo-six .shang h1 a { font-family: "宋体"; font-size: 20px; font-weight: bold; color: #192E68; text-decoration: none;  cursor: pointer; }
.zuo-six .shang { background: url(../images/edu_bg.jpg) no-repeat left -140px; height: 35px; margin-bottom: 10px; }
.zuo-six .shang h1 { padding-top: 5px; padding-left: 16px; }
.zuo-seven .shang h1 a { font-family: "宋体"; font-size: 20px; font-weight: bold; color: #192E68; text-decoration: none;  cursor: pointer; }
.zuo-seven .shang { background: url(../images/edu_bg.jpg) no-repeat left -140px; height: 35px; margin-bottom: 10px; }
.zuo-seven .shang h1 { padding-top: 5px; padding-left: 16px; }
.zuo-seven .shang h1 span a { font-size: 12px; color: #ac2222; text-decoration: none; }
.zuo-seven .shang h1 span { float: right; margin-top: 10px; margin-right: 10px; }
.zuo-six .shang h1 span a { font-size: 12px; color: #ac2222; text-decoration: none; }
.zuo-six .shang h1 span { float: right; margin-top: 10px; margin-right: 10px; }
.zuo-six .shang h1 span a:hover { color: #F00; text-decoration: underline; }
.zuo-seven .shang h1 span a:hover { color: #F00; text-decoration: underline; }
.zuo-four .right .jyxxh h1 span a:hover { color: #F00; text-decoration: underline; }
.zuo-six .xia .left { float: left; height: 150px; width: 357px; border-right: 1px dashed #656565; }
.zuo-six .xia .right { float: right; height: 150px; width: 357px; }
.zuo-seven .xia .left { float: left; height: 150px; width: 357px; border-right: 1px dashed #656565; }
.zuo-seven .xia .right { float: right; height: 150px; width: 357px; }
#tag_10_con ul { line-height: 22px; }
#tag_10_con ul li { margin-left: 30px; list-style: square; }
.floatl li { float: left; }
.zuo-seven .xia .right h2 { font-family: "宋体"; font-size: 14px; font-weight: bold; color: #192e68; background: url(../images/edu_bg.jpg) no-repeat -362px -220px; height: 25px; width: 330px; margin-bottom: 10px; padding-top: 6px; padding-left: 18px; }
.zuo-seven .xia .right ul li img { padding: 2px; border: 1px solid #cccccc; margin-bottom: 5px; }
.zuo-seven .xia .right ul li { float: left; width: 60px; margin-right: 8px; height: 110px; }
.zuo-seven .xia .right ul { margin-left: 10px; }
.zuo-seven .xia .right ul li a { color: #000; }
.zuo-seven .xia .right ul li p { text-align: center; }
.zuo-seven .xia .right ul li a:hover { color: #F00; }
#tag_09_con dl .left {  height: 120px; width: 267px; float: left; }
#tag_09_con dl .left .pic { float: left; width: 90px; height: 120px; padding-left: 8px; }
#tag_09_con dl .left .pic a img { padding: 2px; border: 1px solid #cccccc; margin-bottom: 10px; }



.zuo-six .xia .right .txjy { width:170px; height:18px; text-align:right; border-bottom:1px solid #A6B6CD; margin:0; padding:6px 10px 0 0; font-family:"宋体"; float: left; }
#tag_09_con dl .left .right { width: 160px; }
#tag_09_con dl .left .right p { line-height: 22px; }


#tag_08_con ul { line-height: 22px; }
#tag_09_con dl .left .right p a span { font-weight: bold; margin-bottom: 10px; }
#tag_09_con dl .name { float: right; }
#tag_09_con dl .name p { line-height: 20px; text-align: center; width: 85px; }
#tag_09_con dl .name p a { color: #000; }
#tag_09_con dl .name p a:hover { color: #F00; text-decoration: underline; }


#tag_08_con ul li { margin-left: 30px; list-style: square; }
#tag_08_con ul li a span { color: #999999; float: right; margin-right: 10px; }
#tag_08_con ul li a:hover span { color: #F00; text-decoration: underline; }
.tag_06_title a { font-weight: normal; color: #192e68; text-decoration: none; background: url(../images/edu_bg.jpg) no-repeat -677px -185px; text-align: center; display: block; float: left; height: 25px; width: 83px; margin-right: 2px; cursor: pointer; padding-top: 6px; }
.tag_06_title a.current { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; }
.tag_06_title a:hover { font-weight: bold; color: #FFF; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; }
.tag_06_title{ margin-left:7px; width:175px; height:25px; font-weight: normal; overflow:hidden; background: url(../images/edu_bg.jpg) no-repeat -592px -185px; ; font-size:14px; padding:0px 0 0 0px; text-align:center; display: inline; }
.zuo-six .xia .left .bkzx { width:170px; height:18px; text-align:right; border-bottom:1px solid #A6B6CD; margin:0; padding:6px 10px 0 0; font-family:"宋体"; float: left; }
